/* You can add global styles to this file, and also import other style files */
$custom-app-primary: mat-palette(#daa89f);
$custom-app-secondary: mat-palette(#9e5c50);
$custom-app-tertiary: mat-palette(#cd897f);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/img/background-body.jpg");
  background-repeat: no-repeat;
}
