.header{
  display: flex;
  align-items: center;
  background-image: url("../../../../assets/img/");
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-height: 32px;
}

.header .title-group {
  padding-left: 10px;
  display: flex;
  justify-content: flex-end;
}
