.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9ccc7;
}

.mobile-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.scrollable-menu {
  max-height: 300px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Habilita a rolagem vertical */
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.logo {
  margin-top: 8px;
  max-height: 55px;
}

@media (max-width: 600px) {
  .mobile-toolbar {
    position: static;
  }
}
