.header{
  display: flex;
  align-items: center;
  background-color: #daa89f;
}

.header a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

.header .logo {
  max-height: 32px;
}

.header .title-group a {
  padding-left: 10px;
  display: flex;
  justify-content: flex-end;
}
