<mat-toolbar class="header mat-elevation-z4" [ngClass]="{'mobile-toolbar': isHandset$ | async}">
  <div>
    <img class="logo" src="../assets/img/logo.png" alt="Logo">
  </div>
  <nav class="scrollable-menu">
    <!-- Exibir os botões individualmente em dispositivos maiores -->
    <ng-container *ngIf="!(isHandset$ | async)">
      <ul>
        <li><button mat-button>Banner</button></li>
        <li><button mat-button>Instrutora</button></li>
        <li><button mat-button>Cursos</button></li>
        <li><button mat-button>Certificados</button></li>
        <li><button mat-button>Depoimentos</button></li>
        <li><button mat-button>Garantia</button></li>
        <li><button mat-button>Dúvidas</button></li>
        <li><button mat-button>Valores</button></li>
      </ul>
    </ng-container>
    <!-- Exibir o menu de navegação em dispositivos de tela reduzida -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Banner</button>
      <button mat-menu-item>Instrutora</button>
      <button mat-menu-item>Cursos</button>
      <button mat-menu-item>Certificados</button>
      <button mat-menu-item>Depoimentos</button>
      <button mat-menu-item>Garantia</button>
      <button mat-menu-item>Dúvidas</button>
      <button mat-menu-item>Valores</button>
    </mat-menu>
  </nav>
  <div class="spacer"></div>
  <!-- Exibir o botão de menu em dispositivos de tela reduzida -->
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isHandset$ | async" class="menu-button" style="margin-left: auto;">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
